@charset "ISO-8859-1";


html { scroll-behavior: smooth; overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
}

a {
    transition: all 0.3s ease;
    color: #666;
}

a:hover {
    color: #29BBCC;
    text-decoration: none;
}

h2, p { color: #666666; }

.site-header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px;
}

.logo-container {
    padding: 30px;
    width: 320px;
    height: 160px;
}


.logo { 
	font-size: 2.5rem;
	font-weight: bold;
 }

#video-container {
    max-height: 720px;
    overflow: hidden;
    background-color: #333;
}

#home-video {
    width: 100%;
    height: auto;
}

.nav-link-text {
    color: white;
    font-size: 1.4rem;    
}

#main-nav .nav-item .nav-link { border-bottom: 1px solid transparent; }

#main-nav .nav-item.active .nav-link,
#main-nav .nav-item:hover .nav-link {
    border-bottom: 1px solid white;
    color: white;
}

.welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.welcome-container-inner { margin-top: 100px; }
.welcome-text { font-size: 1.6rem; }

.btn {
    padding: 15px 60px;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn-cta {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.content-container {
    max-width: 1422px;
    padding-top: 80px;
    padding-bottom: 35px;
}

.page-title { font-size: 2.5rem; }

.nav-item.active > .tm-paging-link,
.nav-item:hover > .tm-paging-link {
    background-color: #CCC;
    color: #666666;
}

.about-header {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    background-color: #666;
}

.about-header-bg { height: 450px; }
.about-header-img { background-image: url(../images/about.jpg); }

.bg-black{
	background-color: rgb(0,0,0,0.5);
	
	color: white;
}

video {
  width: 100%;
  height: auto;
}

/*About*/
.about-text-container { max-width: 920px; }

/*Join Now*/
.join-wrap-container{
	width: 100vw;
	height: 100vh;
}

.join-img {
	background-image: url(../images/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    background-color: #666;
}

.join-container {
    width: 100%;
    height: 100%;
}

.form-wrapper {
  width: 350px;
  border-radius: 8px;
  margin-top: 30px;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  max-height: 500px;
  overflow: scroll;
  scrollbar-width: none;
}

.form-wrapper form h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.form-wrapper a {
  color: #efefef;
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.form-wrapper button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.form-error {
	padding: 0;
	color: red;
	font-size: 12px;
}

/*Gallery*/

.gallery-header-container{
	width: 100vw;
	height: 30vh;
}

.header-img {
	background-image: url(../images/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    background-color: #666;
}

.form-upload textarea {
	width: 400px;
	border: none;
	outline: none;
	border-bottom: 2px solid #0d6efd;
	color: #666666;
	overflow: scroll;
	scrollbar-width: none;
}

.delete-cross {
	font-size: 1.5rem;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@media screen and (min-width: 992px) {
    #main-nav .nav-item { margin: 20px 40px; }
    .navbar-expand-lg .navbar-nav .nav-link { padding: 8px 0px; }
    .navbar-expand-lg .navbar-collapse { justify-content: flex-end; }
}

@media screen and (max-width: 991px) {
    .navbar {
        max-width: 220px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }
    
    .navbar-collapse {
        background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        border-top-right-radius: 0;
        padding: 10px 15px;
    }

    .nav-item { margin-bottom: 10px; }

    .navbar-toggler {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 52px;
        height: 40px;
    }

    .navbar-toggler.collapsed {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;   
    }

    .navbar-toggler i.menu-opened-icon { display: block; }
    .navbar-toggler i.menu-closed-icon { display: none; }
    .navbar-toggler.collapsed i.menu-opened-icon { display: none; }
    .navbar-toggler.collapsed i.menu-closed-icon { display: block; }
    .tm-welcome-container-inner { margin-top: 150px; }
    .tm-welcome-text { font-size: 1.4rem; }

    .logo-container {
    	position: absolute;
    	top: -30px;
    	left: -30px;
        height: 100px;
        width: 200px;
    }
    
    #home-video {
    	object-fit: cover;
    	min-width: 300px;
    	min-height: 600px;
    }

    .site-header { padding: 20px; }
    
    .form-upload{
    	flex-direction: column;
    }
    
    .form-upload * {
    	margin-bottom: 20px;
    }
    
    .form-upload button{
    	height: 40px;
    	padding: 5px 50px;
    }
    
    .form-upload textarea {
    	width: 300px;
    }
    
    .media-details {
    	flex-direction: column;
    	align-items: center;
    	width: 100%;
    }
}